In [1]:
import main

In [2]:
games_data = main.read_games_data()
conf_data = main.read_teams_data()

In [3]:
games_data

        game_date          team1  score1                      team2  score2
0      2015-11-13         Hawaii      87                Montana St.      76
1      2015-11-13  Eastern Mich.      70                    Vermont      50
2      2015-11-13       Columbia     107                       Kean      62
3      2015-11-13     La.-Monroe      88                    McMurry      43
4      2015-11-13           Yale      70                  Fairfield      57
...           ...            ...     ...                        ...     ...
23488  2019-03-21        Hampton      81  St. Francis (B&#039;klyn)      72
23489  2019-03-21     La.-Monroe      87                 Kent State      77
23490  2019-03-21  CSU Fullerton      58            CSU Bakersfield      66
23491  2019-03-22  Southern Utah      80                      Drake      73
23492  2019-03-22      Creighton      79                    Memphis      67

[23493 rows x 5 columns]

In [4]:
conf_data

                 conf                   team
0        America East                Vermont
1        America East            Stony Brook
2        America East                   UMBC
3        America East               Hartford
4        America East                 Albany
..                ...                    ...
348  Western Athletic     California Baptist
349  Western Athletic  Cal State Bakersfield
350  Western Athletic                Seattle
351  Western Athletic                   UMKC
352  Western Athletic          Chicago State

[353 rows x 2 columns]

In [43]:
temp = games_data.merge(conf_data,left_on='team2',right_on='team',suffixes=('',"2")).iloc[:,0:-1]
temp = temp.merge(conf_data,left_on='team1',right_on='team',suffixes=('',"1"),).iloc[:,0:-1]

In [45]:

temp['conf2']=temp['conf']
temp = temp.drop('conf', axis=1)

In [46]:
temp

,game_date,team1,score1,team2,score2,conf1,conf2
0,2015-11-15,Purdue,107,Vermont,79,Big Ten,America East
1,2017-11-18,Purdue,106,Fairfield,64,Big Ten,Metro Atlantic Athletic
2,2018-11-06,Purdue,90,Fairfield,57,Big Ten,Metro Atlantic Athletic
3,2018-11-23,Purdue,84,Robert Morris,46,Big Ten,Northeast
4,2015-11-28,Purdue,77,Lehigh,55,Big Ten,Patriot League
...,...,...,...,...,...,...,...
9295,2019-01-08,Indiana State,57,Missouri State,72,Missouri Valley,Missouri Valley
9296,2019-03-02,Delaware State,58,Morgan State,76,Mid-Eastern,Mid-Eastern
9297,2019-01-07,Delaware State,60,Coppin State,64,Mid-Eastern,Mid-Eastern
9298,2019-03-04,Delaware State,66,Norfolk State,74,Mid-Eastern,Mid-Eastern
9299,2019-02-02,Delaware State,73,Savannah State,76,Mid-Eastern,Mid-Eastern